body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding: 0px !important;
    background-color: #f9f9f9;
}

#navigation {

    height: 180px;
    border: none;
    background-color: transparent;
    background-image: url(../img/header-bg.png);
    background-size: auto 100%;
    background-position: 50% 80%;
    z-index: 100;
}

.navbar-toggle {
    margin-top: 25px;
}

.maincontent {
    position: absolute;
    background-color: #f9f9f9;
    height: auto;
    width: 100%;
    top: 0;
}

.pad-0 {
    padding: 0;
}

.trending-pics {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* login section */

.photo-login {
    width: 7em;
    height: auto;
    display: block;
    margin: auto;
}

/* header slide */

.slide {
  height: 60em;
  overflow: hidden;
}

.photo-header {
    width: 100%;
}

.intro {
    margin-top: 0;
}

.slide-description {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 60%;
    padding: 2em 0;
    background-color: rgba(255, 255, 255, 0.6);
    color: #fe7b69;
    text-shadow: 1px 1px #fff;
    z-index: 50;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.footer {
  background-color: #3c434a;
  padding: 2em 1em 1em 1em;
  font-size: 1.2em;
  color: #fff;
}

.foto {
  position: relative;
  float: left;
  width:  100%;
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}


.footer .fa {
  font-size: 1.6em;
  padding: 0.3em;
}

.copyright {
  font-size: 0.9em;
  padding-top: 1em;
  color: #989898;
}

/* Estilos usuario logeado */

.welcome {
  margin: 2% 5%;
  background-color: #3e9e81;
  background-image: url(../img/bg-welcome.png);
  background-size: cover;
  background-position: 50% 37%;
  color: #ffF;
  border-radius: 6px;
  padding: 1em;
}

.nametitle {
  padding-bottom: 1em;
}


.profile-content {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  background-color: #fff;
}

.newchoose {
  border: none;
  padding: 15px 26px;
  background-color: #3e9e81;
  margin: 2em 0.5em;
  color: #fff;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.aside {

}

.friend-pics {
  width: 33%;
  max-height: 172px;
  overflow: hidden;
  float: left;
}

.friend-pics img {
  width: 100%;
  padding: 0.5em;
}

.pages-follow {
  font-size: 1.2em;
}

.btn-follow {
  font-size: 0.7em;
  background-color: #e0e0e0;
  border: none;
  border-radius: 2px;
  outline: none;
}

.show-content {
  width: 80%;
}

textarea {
  width: 100%;
  outline: none;
  resize: none;
}


/*  Subir imagenes */
.thumbnail {
    width: 171px;
    /*margin: 0 auto; */
    margin-bottom: 10px;
}

#preview {
    position: relative;
}
#preview a {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  display: none;
}

#file-info {
    text-align: left;
    display: block;
}

input[type=file] {
  position: absolute;
  visibility: hidden;
  width: 0;
  z-index: -9999;
}

#post-save {
    text-align:center;
    width: 171px;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 44%;
        display: block;
        width: 330px;
        height: auto;
        text-align: center;

    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

@media screen and (max-width: 768px) {
    .navbar-brand-centered {
        background-size: contain;
        height: 100%;
    }

    .logo {
        width: 9em;
    }

    #navbar-brand-centered {
        background-color: #fff;
        border-color: none;
    }

    #navigation {
        height: 91px;
        border: none;
        background-color: #fff;
    }

    .intro {
        margin-top: 5em;
    }

    .slide-description {
        top: 40%;
    }

    .profile-content {
      width: 100%; 
    }
}


@media screen and (max-width: 1400px) {
    .slide {
        height: auto;
    }

    .slide-description {
        top: 30%;
    }
}
